<div class="main-container" [ngStyle]="{'height.px':containerConst.containerHeight}">

    <div class="time-section">
        <ng-container *ngFor="let containerNum of containerCounts">
            <label><span>{{containerNum?.timeStamp}}</span>{{ containerNum?.timeSuffix }}</label>
        </ng-container>
    </div>
    <div class="appointment-section">
            <ng-container *ngFor="let entry of entries">
                <app-calendar-entry [entry]="entry"></app-calendar-entry>
            </ng-container>
    </div>
</div>