/* You can add global styles to this file, and also import other style files */
.time-section {
    width: 95px;
    float: left;
    padding-right: 5px;
  }
  .time-section label {
    display: inline-block;
    width: 100%;
    text-align: right;
    height: 30px;
    vertical-align: middle;
    font-size: 10px;
    padding-right: 5px;
  }
  .time-section label:nth-child(odd) span {
    font-size: 16px;
    font-weight: bold;
  }
  .appointment-section {
    width: 600px;
    float: left;
    padding: 0 10px;
    background-color: #f6f6f6;
    height: 100%;
    position: relative;
  }
  .appointment-section .appointment-card {
    background: white;
    position: absolute;
  }
  .appointment-section .appointment-card .inner-content {
    border: 1px solid lightgrey;
    border-left: 5px solid green;
    height: calc(100% - 2px);
  }
  .appointment-section .appointment-card h4 {
    color: green;
    margin: 10px 0 5px 10px;
  }
  .appointment-section .appointment-card .description {
    margin: 0 0 0 10px;
    font-size: 11px;
  }
  